/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
  --todotxt-color-amber-300: rgb(252 211 77);
  --todotxt-color-amber-400: rgb(240, 146, 38);
  --todotxt-color-amber-600: rgb(217 119 6);
  --todotxt-color-blue-200: rgb(191 219 254);
  --todotxt-color-blue-300: rgb(147 197 253);
  --todotxt-color-blue-600: #2563EB;
  --todotxt-color-gray-100: #f5f5f5;
  --todotxt-color-gray-200: rgb(229 231 235);
  --todotxt-color-gray-400: rgb(156 163 175);
  --todotxt-color-gray-600: rgb(75 85 99);
  --todotxt-color-gray-700: rgb(55 65 81);
  --todotxt-color-gray-900: rgb(17 24 39);
  --todotxt-color-gray-900-9: rgb(17 24 39 / 0.90);
  --todotxt-color-indigo-200: rgb(199 210 254);
  --todotxt-color-indigo-900: rgb(49 46 129);
  --todotxt-color-orange-300: rgb(253 186 116);
  --todotxt-color-orange-600: #EA580C;
  --todotxt-color-red-300: rgb(252 165 165);
  --todotxt-color-red-600: #DC2626;
  --todotxt-color-red-700: rgb(185 28 28);
  --todotxt-color-sky-300: #7DD3FC;
  --todotxt-color-sky-600: rgb(2 132 199);
  --todotxt-color-slate-700: rgb(51 65 85);
}

.block-language-todotxt {
    padding: 0.5rem;
    border-radius: var(--radius-s);
    border: 1px solid var(--text-faint);
}

.todotxt-item {
    padding-top: var(--list-spacing);
    padding-bottom: var(--list-spacing);
    text-indent: -24px;
    padding-inline-start: 28px;
}

span.todotxt-priority {
    border-radius: var(--radius-m);
    padding: 0.125rem 0.35rem;
    margin-right: 0.25rem;
    height: 1rem;
    font-size: small;
}

.todotxt-priority-a,
.todotxt-priority-a:hover {
    color: var(--todotxt-color-red-600);
    background-color: var(--todotxt-color-red-300);
}
.todotxt-priority-b,
.todotxt-priority-b:hover {
    color: var(--todotxt-color-orange-600);
    background-color: var(--todotxt-color-orange-300);
}
.todotxt-priority-c,
.todotxt-priority-c:hover {
    color: var(--todotxt-color-sky-600);
    background-color: var(--todotxt-color-sky-300);
}
.todotxt-priority-x,
.todotxt-priority-x:hover {
    color: white;
    background-color: var(--todotxt-color-gray-400);
}

.todotxt-link {
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .todotxt-item-description,
input[type="checkbox"]:checked ~ .todotxt-item-description * {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

.theme-light.todotxt-due-later {
    color: #264653;
}
.theme-dark .todotxt-due-later {
    color: var(--text-muted);
}
.todotxt-due-today {
    color: #E76F51;
}
.todotxt-overdue {
    color: var(--todotxt-color-red-700);
}
.todotxt-due-week {
    color: #E9C46A;
}
.todotxt-due-month {
    color: #09C269 
}

/* .todo-tag {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 9999px;
    color: var(--todotxt-color-gray-700);
    background-color: var(--todotxt-color-blue-200);
} */

/* .todo-ctx {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 9999px;
    color: var(--todotxt-color-gray-700);
    background-color: var(--todotxt-color-indigo-200);
} */

/* BUTTONS */
svg.todotxt-action-btn {
    display: inline;
    cursor: var(--cursor);
    color: transparent;
    stroke-width: 8;
    fill: none;
    box-sizing: content-box;
    border-radius: var(--radius-s);
    height: var(--icon-size);
    width: var(--icon-size);
}

svg.todotxt-action-btn[action="edit"],
svg.todotxt-action-btn[action="delete"] {
    padding: 0.1rem;
    margin-left: 0.15rem;
    margin-right: -0.15rem;
    vertical-align: text-bottom;
    height: var(--icon-s);
    width: var(--icon-s);
}

#edit-list-options-modal {
    padding: 0.1rem;
    margin-left: 0.25rem;
    vertical-align: text-bottom;
    height: calc(var(--icon-size) * 1.35);
    width: calc(var(--icon-size) * 1.35);
}

svg.todotxt-action-btn[action="add"] {
    padding: var(--size-2-2) var(--size-2-3);
    position: absolute;
    top: var(--size-2-2);
    right: calc(var(--size-2-2) * 9);
    display: flex;
}

.markdown-source-view .todotxt-item:hover svg.todotxt-action-btn,
.markdown-source-view .todotxt-list-title:hover svg.todotxt-action-btn {
    color: var(--text-muted);
    transition: all .15s ease;
}

.cm-preview-code-block:hover svg.todotxt-action-btn[action="add"] {
    color: var(--text-muted);
}

.markdown-source-view svg.todotxt-action-btn:hover {
    background-color: var(--background-modifier-hover);
}

.markdown-source-view .cm-preview-code-block:hover .edit-block-button {
    opacity: 100;
}

/* MODAL */
.todotxt-modal-input-begin {
    margin-top: 1.5rem;
}
.is-phone .todotxt-modal-input-begin {
    margin-top: 0;
}

button.mod-cta:disabled,
button.mod-cta:disabled:hover {
    background-color: var(--text-muted);
}

.todotxt-modal-input-full input[type="text"] {
    width: calc(var(--dialog-width) * 0.9);
    max-width: calc(var(--dialog-max-width) * 0.9);
}
.todotxt-modal-input-3-4 input[type="text"] {
    width: calc(var(--dialog-width) * 0.7);
    max-width: calc(var(--dialog-max-width) * 0.7);
}
.is-phone .todotxt-modal-input input[type="text"] {
    width: 100%;
    max-width: 100%;
}

.is-phone .todotxt-modal-input textarea {
    width: 100%;
}

.todotxt-modal-btn {
    padding-bottom: 0;
}
.is-phone .todotxt-modal-btn {
    padding: 0 !important;
}

.todotxt-modal-cancel button {
    background-color: var(--text-muted);
}

.setting-item select.todotxt-modal-dropdown-priority {
    width: 3.4rem;
    padding-left: 0.4rem;
    margin-right: 0.4rem;
    text-align: center;
}
.is-phone select.todotxt-modal-dropdown-priority {
    width: 3.8rem;
    margin-top: 0.25rem;
    float: left;
    height: calc(var(--input-height) * 0.8);
}
.todotxt-modal-input .setting-item-control {
    display: contents;
}
.is-phone .todotxt-modal-input .setting-item-control {
    display: block;
}

/* PROJECT GROUP CONTAINER */
.project-group-container {
    margin-top: 0.5rem;
}
  
.project-group-container label {
    display: block;
    cursor: var(--cursor);
    border-radius: var(--radius-m);
    padding: 0.25rem;
    font-size: large;
    font-weight: bold;
}

.project-group-container[completed] label {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}
  
.theme-dark .project-group-container label:hover {
    background: var(--todotxt-color-slate-700);
}

.theme-light .project-group-container label:hover {
    background: var(--todotxt-color-gray-100);
}
  
.project-group-container input[type="checkbox"].project-group-checkbox {
    position: absolute;
    left: -9999px;
}

.project-group-list {
    height: 0;
    transform: scaleY(0);
}

input[type="checkbox"].project-group-checkbox:checked ~ .project-group-list,
.markdown-reading-view .project-group-list {
    height: 100%;
    transform-origin: top;
    transition: transform 0.05s ease-out;
    transform: scaleY(1); 
}

.theme-light input[type="checkbox"].project-group-checkbox:checked + label {
    background: var(--todotxt-color-gray-100);
}
  
.theme-dark input[type="checkbox"].project-group-checkbox:checked + label {
    background: var(--todotxt-color-slate-700);
}

.markdown-reading-view label {
    background: none !important;
    cursor: text;
}
