/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
  --todotxt-color-amber-300: rgb(252 211 77);
  --todotxt-color-amber-600: rgb(217 119 6);
  --todotxt-color-blue-200: rgb(191 219 254);
  --todotxt-color-blue-300: rgb(147 197 253);
  --todotxt-color-blue-600: #2563EB;
  --todotxt-color-gray-100: #f5f5f5;
  --todotxt-color-gray-200: rgb(229 231 235);
  --todotxt-color-gray-400: rgb(156 163 175);
  --todotxt-color-gray-600: rgb(75 85 99);
  --todotxt-color-gray-700: rgb(55 65 81);
  --todotxt-color-gray-900: rgb(17 24 39);
  --todotxt-color-gray-900-9: rgb(17 24 39 / 0.90);
  --todotxt-color-indigo-200: rgb(199 210 254);
  --todotxt-color-indigo-900: rgb(49 46 129);
  --todotxt-color-orange-300: rgb(253 186 116);
  --todotxt-color-orange-600: #EA580C;
  --todotxt-color-red-300: rgb(252 165 165);
  --todotxt-color-red-600: #DC2626;
  --todotxt-color-red-700: rgb(185 28 28);
  --todotxt-color-sky-300: #7DD3FC;
  --todotxt-color-sky-600: rgb(2 132 199);
  --todotxt-color-slate-700: rgb(51 65 85);
}

/* .todotxt-md-title {
    border-bottom: 2px solid var(--todotxt-color-slate-700);
    color: var(--todotxt-color-red-600);
    background-color: var(--todotxt-color-red-300);
} */

.block-language-todotxt {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--text-faint);
}

.todotxt-item {
    justify-content: center;
}

/* .todotxt-label {
    display: flex;
    align-items: flex-start;
} */

button.todotxt-priority {
    border-radius: 0.5rem;
    padding: 0rem 0.3rem;
    margin-right: 0.25rem;
    height: 1.25rem;
    font-size: small;
    cursor: default;
}

button.todotxt-priority-a {
    color: var(--todotxt-color-red-600);
    background-color: var(--todotxt-color-red-300);
}
button.todotxt-priority-b {
    color: var(--todotxt-color-orange-600);
    background-color: var(--todotxt-color-orange-300);
}
button.todotxt-priority-c {
    color: var(--todotxt-color-sky-600);
    background-color: var(--todotxt-color-sky-300);
}
button.todotxt-priority-x {
    color: white;
    background-color: var(--todotxt-color-gray-400);
}

input[type="checkbox"]:checked ~ .todotxt-item-description {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

.todotxt-description {
    display: flex;
    align-items: flex-start;
    color: var(--todotxt-color-gray-200);
    
    .todo-text span {
        /* margin-right: 0.3em; */
    }
    
    .todo-due {
        color: var(--todotxt-color-sky-600);
    }
    .todo-due-soon {
        color: var(--todotxt-color-amber-600);
    }
    .todo-due-past {
        color: var(--todotxt-color-red-600);
    }
    
    .todo-completed, .todo-completed span {
        text-decoration-line: line-through;
        color: var(--todotxt-color-gray-400);
    }
}


.todo-tag {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 9999px;
    color: var(--todotxt-color-gray-700);
    background-color: var(--todotxt-color-blue-200);
}

.todo-ctx {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 9999px;
    color: var(--todotxt-color-gray-700);
    background-color: var(--todotxt-color-indigo-200);
}

/* PROJECT GROUP CONTAINER */

.project-group-container {
    margin-top: 0.75rem;
}
  
.project-group-container label {
    display: block;
    cursor: default;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-size: large;
    font-weight: bold;
  }
  
.theme-dark .project-group-container label:hover {
    background: var(--todotxt-color-slate-700);
  }

.theme-light .project-group-container label:hover {
    background: var(--todotxt-color-gray-100);
}
  
.project-group-container input[type="checkbox"].project-group-checkbox {
    position: absolute;
    left: -9999px;
}

.project-group-list {
    height: 0;
    transform: scaleY(0);
}

input[type="checkbox"].project-group-checkbox:checked ~ .project-group-list,
.markdown-reading-view .project-group-list {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
}

.theme-light input[type="checkbox"].project-group-checkbox:checked + label {
    background: var(--todotxt-color-gray-100);
}
  
.theme-dark input[type="checkbox"].project-group-checkbox:checked + label {
    background: var(--todotxt-color-slate-700);
}

.markdown-reading-view label {
    background: none !important;
    cursor: text;
}
